.todo-title {
    font-size: 1.2em;
    color: red;
}
/* TODO Stylings*/
.todo-dueDate {
    font-weight: bold;
    color: #ff0000;
}

.todo-priority-high {
    color: #ff0000; 
}
.todo-priority-medium {
    color: #ffa500; 
}

.todo-priority-low {
    color: #008000; 
}

/* Container Stylings*/
#app-container {
    display: flex;
}

#project-container {
    width: 25%;
    border-right: 1px solid #000;
}
  
#todo-container {
    width: 75%;
}
  
.speech-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.speech-bubble.show {
    opacity: 1;
}
